<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :wowclass %><br />
    <%= select :character, :wowclass, Character::CLASSES %>
  </div>
  <div class="field">
  <%= f.label :player %><br />
  <%= select("character", "player_id", Player.all.collect {|p| [ p.name, p.id ] }, { :include_blank => false }) %>
  </div>
  <div class="field">
  <%= f.label :guild %><br />
  <%= select("character", "guild_id", Guild.all.collect {|p| [ p.name, p.id ] }, { :include_blank => "No guild" }) %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
