<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <span class="<%= @character.wowclass %>"><%= @character.name %></span><br/>
  <b>Class:</b>
  <%= @character.wowclass %><br/>
  <b>Player:</b>
  <%= @character.player.name %><br/>
  <b>Guild:</b>
  <%= @character.guild.name %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
