<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b> <%= @player.name %> (<%= @player.email %>)
</p>

<p>
  <b>Characters:</b>
  <ul>

  </ul>



<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
